* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

:root {
  -white-: #f0efed;
  -black-: #080b1b;
  -light-orange-: #ff8b68;
  -dark-blue-: #1a2456;
}

body {
  background-color: var(-white-);
}

.header {
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(/assets/img/main-bg.jpg);
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header .navbar {
  display: flex;
  position: fixed;
  top: 10px;
  padding: 5px 20px;
  justify-content: space-between;
  width: 95%;
  background-color: #1a2456;
  z-index: 999999;
  border-radius: 3px;
}
.header .navbar .navLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header .navbar .navLeft img {
  width: 25%;
  border-radius: 50%;
}
.header .navbar .navLeft .navSpan {
  font-weight: 600;
  font-size: 25px;
  color: #e4e4e4;
}
.header .navbar .navRight {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-evenly;
  align-items: center;
}
.header .navbar .navRight li a {
  text-decoration: none;
  font-size: 12px;
  color: rgba(194, 158, 147, 0.7607843137);
  font-weight: 600;
  transition: all 300ms ease;
}
.header .navbar .navRight li a:hover {
  color: rgba(255, 139, 104, 0.8235294118);
}
.header .navbar .navRight #dropNav ul {
  list-style: none;
  display: none;
}
.header .header_content {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header .header_content h1 {
  text-align: center;
  color: #ecd5ce;
  font-size: 50px;
  margin-bottom: 20px;
}
.header .header_content h4 {
  color: rgba(236, 213, 206, 0.5490196078);
}
.header #arrowA {
  position: absolute;
  bottom: 20px;
  font-size: 50px;
  color: white;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px 300px;
  gap: 30px;
  position: relative;
  overflow: hidden;
}
.main .product {
  z-index: 10;
  width: 45%;
  position: relative;
}
.main .product .img_container {
  transition: all 300ms ease-in-out;
}
.main .product .img_container iframe {
  width: 100%;
  height: 300px;
}
.main .product .img_container .mask {
  background-color: rgba(80, 64, 170, 0.493);
  height: 80%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease-in-out;
}
.main .product .img_container .mask i {
  font-size: 65px;
  color: rgb(253, 253, 253);
}
.main .product .img_container:hover .mask {
  opacity: 1;
  visibility: visible;
}
.main .product .txt_container {
  padding: 10px;
  background-color: rgba(7, 18, 80, 0.1725490196);
}
.main .product .txt_container .txt__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.main .product .txt_container .txt__top span {
  color: rgba(83, 83, 83, 0.795);
}
.main .product5 {
  width: 92.5%;
}
.main .product5 .img_container iframe {
  width: 100%;
  height: 500px;
}
.main .product5 .img_container .mask {
  background-color: rgba(80, 64, 170, 0.493);
  height: 87%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease-in-out;
}
.main .product5 .img_container .mask i {
  font-size: 65px;
}
.main .svg1 {
  position: absolute;
  top: 0;
  left: -500px;
  rotate: 20deg;
}
.main .svg2 {
  position: absolute;
  bottom: 200px;
  right: -1000px;
  rotate: 20deg;
}

.section1 {
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(/assets/img/section1-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section1 h2 {
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 10px;
}
.section1 p {
  color: rgba(255, 255, 255, 0.747);
}

.producst {
  display: flex;
  flex-wrap: wrap;
  padding: 120px 300px;
  justify-content: center;
  gap: 50px;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='504' height='504' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23DCEFFA' fill-opacity='0.33' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
}
.producst .ofert {
  min-width: 30%;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  transition: all 300ms ease-in;
}
.producst .ofert .img_container {
  height: 70%;
}
.producst .ofert .img_container img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 100%;
  transition: all 300ms ease;
}
.producst .ofert .txt_container {
  background-color: rgba(26, 36, 86, 0.1215686275);
  padding: 20px;
  height: 30%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.producst .ofert:hover {
  transform: translateY(-20px);
  box-shadow: 2px 14px 10px -4px rgba(0, 0, 0, 0.5);
}

.footer {
  display: flex;
  background-color: #1a2456;
  justify-content: space-evenly;
  padding: 80px 120px;
  padding-bottom: 120px;
}
.footer ul {
  list-style: none;
}
.footer ul h4 {
  color: #ecd5ce;
  font-weight: 200;
  margin-bottom: 10px;
}
.footer ul li {
  margin-bottom: 5px;
}
.footer ul li a {
  color: #ecd5ce;
  text-decoration: none;
  font-size: 12px;
}
.footer .extraUl {
  color: #ecd5ce;
}
.footer .extraUl h4 {
  font-weight: 200;
  margin-bottom: 10px;
}
.footer .extraUl p {
  font-weight: 200;
  margin-bottom: 7px;
}
.footer .extraUl #email {
  margin-bottom: 15px;
  padding: 5px 15px;
  background-color: transparent;
  border: 1px solid #f3f1f1;
  color: white;
}
.footer .extraUl #submit {
  border: 1px solid transparent;
  padding: 5px 15px;
  border-radius: 15px;
  background-color: #ecd5ce;
  cursor: pointer;
}
.footer .extraUl .socials {
  margin-bottom: 15px;
}
.footer .extraUl .socials i {
  background-color: #f0efed;
  padding: 7px;
  border-radius: 50%;
  color: #080b1b;
}

.cookies {
  position: fixed;
  top: 94%;
  background-color: #ff8b68;
  z-index: 9999;
  width: 80%;
  left: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.cookies .cookies_btns {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}
.cookies .cookies_btns input {
  padding: 5px 10px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.452);
  background-color: rgba(255, 255, 255, 0.829);
  color: black;
}/*# sourceMappingURL=styles.css.map */